/*主页index.html样式表*/

/*顶部导航条的容器*/
.topbar-wrapper{
    width: 100%;
    background-color:#333333;
    height:40px;
    line-height: 40px;
}
/*超链接颜色*/
.topbar a{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}
/*左侧导航栏*/
.servers,.topbar-wrapper li{
    float: left;
}
.shop-car,.user-info{
    float: right;
}
