body {
  background-color: #bfa;
}
.box1 {
  width: 500px;
  height: 500px;
  background-color: red;
}
.box1 .box2 {
  background-color: orange;
  width: 200px;
  height: 200px;
}
.box1 .box2 .box3 {
  width: 100px;
  height: 100px;
  background-color: cyan;
}
