body{
    background-color: #bfa;
}
.box1{
    width:500px;
    height:500px;
    background-color: red;
    .box2{
        background-color: orange;
        width: 200px;
        height:200px;
        .box3{
            width:100px;
            height:100px;
            background-color: cyan;
        }
    }
    //单行注释
    
}