.box1 .box2 {
  color: red;
}
.box1 .box2:hover {
  color: white;
}
.box1 > .box3 {
  color: red;
}
.box1 > .box3:hover {
  color: blue;
}
.box1:hover {
  color: orange;
}
.p1,
.p2 {
  width: 100px;
  height: 200px;
}
.p2 {
  color: red;
}
.p3 {
  width: 100px;
  height: 200px;
}
.p5 {
  width: 100px;
  height: 200px;
  color: chocolate;
}
div {
  width: 200px;
  height: 200px;
  background-color: red;
}
span {
  color: #ff8000;
}
.box7 {
  width: 1024px;
  height: 1024px;
  background-color: #bfa;
}
.box7:hover {
  background-color: #22aa00;
}
